# 2강: 배열 (Array)

> 목차
1. [대표적인 자료구조: 배열(Array)](#01-Array)
2. [Python List 활용](#02-List:-array-in-Python)
3. [Practice 1](#03-practice-1)
4. [Practice 2](#04-practice-2)

In [1]:
# Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

***
### 01. Array

In [2]:
# 더 간단합니다.
country = "US"           # Country라는 변수에 "US" string 지정
print (country)          # Country 변수 프린트

country = country + 'A'  # Country라는 변수에 'A'를 뒤에 붙임 즉 'US' + 'A' = 'USA'
print (country)          # Country 변수 프린트

US
USA

***
### 02. List: array in Python

In [4]:
# 1차원 배열: 리스트로 구현 시
data = [1, 2, 3, 4, 5]
print(data)

[1, 2, 3, 4, 5]

In [5]:
# 2차원 배열: 리스트로 구현 시
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
print(data[0]) # 첫 번째 1차원 배열을 반환합니다.

[1, 2, 3]

In [7]:
print(data[0][0]) # 첫 번째 1차원 배열의 첫 번째 요소를 반환합니다. : 1
print(data[0][1]) # 첫 번째 1차원 배열의 두 번째 요소를 반환합니다. : 2
print(data[0][2]) # 첫 번째 1차원 배열의 세 번째 요소를 반환합니다. : 3
print(data[1][0]) # 두 번째 1차원 배열의 첫 번째 요소를 반환합니다. : 4

1
2
3
4

***
### 03. Practice 1
> Print 9, 8, 7 elements from the 2-D data

In [8]:
print(data[2][2], data[2][1], data[2][0])

9 8 7

***
### 04. Practice 2
> 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는 지 빈도수 출력하기

In [9]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [11]:
### Please Try this
m_count = 0

### Your Codes Here

### Do not modify below, the results should be 38
print (m_count)

38